# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
ENV/
Pipfile.lock

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Logs
*.log

# Ignore all files inside api_key folder
api_key/*

# But keep the folder itself (Git doesn't track empty folders, so add a placeholder)
!api_key/.gitkeep

.local/
